html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.divOne {
  background-color: #6f8ae2;
  width: 100%;
  text-align: center;
  padding: 45px;
}

.divTwo {
  background-color: #39eb41;
  width: 100%;
  text-align: center;
  padding: 120px;
}

.divThree {
  background-color: #d0ec51;
  width: 100%;
  text-align: center;
  padding: 120px;
}
